.menu {
    &--admin {
        grid-area: menu;
        padding-top: $sidebar-admin-offset;

        @media screen and (max-width: #{$break-small}) {
            grid-area: none;
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: $white;
            width: 100%;
            border-top: 1px solid $light-gray;
            padding-bottom: $sidebar-admin-offset / 2;
            padding-top: $sidebar-admin-offset / 2;
            z-index: 99999;

            .menu {
                &__title {
                    display: none;
                }

                &__list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    li {
                        list-style-type: none;
                    }
                }

                &__item {
                    border-left:0;
                    padding-left: 0;
                    height: auto;
                    padding-top: 1.8rem;

                    &::before {
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: 0;
                        height: 20px;
                        
                    }

                    &--active {
                        border-left:0;
                    }
                }
            }
        }
    }

    &--student {
        background-color: $white;
    }

    &__title {
        padding-left: $sidebar-admin-offset;
        font-weight: 200;
        text-transform: uppercase;

        &--student {
            text-align: center;
            font-weight: 500;
            padding: 0;
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        list-style-type: none;
        height: 45px;
        display: flex;
        align-items: center;
        padding-left: ($sidebar-admin-offset + 1.9375rem);
        position: relative;
        color: $base-font-color;
        text-decoration: none;
        font-weight: 400;
        line-height: 1;
        border-left: 2px solid transparent;

        &.student-menu-item:hover {
            background-color: lightblue;
        }

        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 100%;
            left: $sidebar-admin-offset;
        }

        &--dashboard::before {
            @include background-image('/images/icons-menu/dashboard.svg', 15px auto);
        }

        &--assignments::before {
            @include background-image('/images/icons-menu/assignment.svg', 15px auto);
        }

        &--results::before {
            @include background-image('/images/icons-menu/result.svg', 15px auto);
        }

        &--settings::before {
            @include background-image('/images/icons-menu/settings.svg', 15px auto);
        }

        &--student {
            color: $black;
            text-align: center;
            height: 60px;
            width: calc(100% + 15px);
            padding: 0;
            justify-content: center;
            border: 0;

            &::before {
                width: 28px;
            }

            &--assignment::before {
                @include background-image('/images/student/icons/icon-lesson.svg', 28px auto);
            }
    
            &--results::before {
                @include background-image('/images/student/icons/icon-results.svg', 28px auto);
            }
    
            &--settings::before {
                @include background-image('/images/student/icons/icon-settings.svg', 28px auto);
            }
        }

        

        &--active {
            border-left: 2px solid $red;

            &::before {
                // @include background-image('/images/icons-menu/dashboard-active.svg', 15px auto);
    
                content: '';
                position: absolute;
                width: 15px;
                height: 100%;
                left: $sidebar-admin-offset;
            }

            &--dashboard::before {
                @include background-image('/images/icons-menu/dashboard-active.svg', 15px auto);
            }
    
            &--assignments::before {
                @include background-image('/images/icons-menu/assignment-active.svg', 15px auto);
            }
    
            &--results::before {
                @include background-image('/images/icons-menu/result-active.svg', 15px auto);
            }
    
            &--settings::before {
                @include background-image('/images/icons-menu/settings-active.svg', 15px auto);
            }

            &--student {
                border: none;
                background-color: $blue;
                color: $white;
                justify-content: center;

                width: calc(100% + 15px);
                padding: 0;
                padding-right: 15px;
                z-index: 1;

                &::after {
                    content: '';
                    position: absolute;
                    border-top: 15px solid darken($blue, 10);
                    border-right: 15px solid transparent;
                    right: 0;
                    bottom: -15px;
                }

                &::before {
                    width: 28px;
                }

                &--assignments::before {
                    @include background-image('/images/student/icons/icon-lesson-active.svg', 28px auto);
                }

                &--results::before {
                    @include background-image('/images/student/icons/icon-results-active.svg', 28px auto);
                }
        
                &--settings::before {
                    @include background-image('/images/student/icons/icon-settings-active.svg', 28px auto);
                }
            }
        }
    }
}