.page {
    &--admin, &--student {
        display: grid;
        width: 100%;
        grid-template-rows: 70px auto;
        grid-template-areas:
            "header"
            "content";
    }

    &__admin-content {
        background-color: $lightest-gray;
        padding: $admin-base-spacing;
    }
    &__student-content {
        background-color: $lightest-gray;
        grid-area: content;
        width: calc(100vw - 250px);
        padding-left: 40px;
        padding-right: 40px;
    }
}