.drag-and-drop-block {
    .spacing-title {
        margin-left: 140px;
    }

    .spacing-add-option-btn {
        margin: 0px 0px 5px 0px;
    }

    .spacing-answer-question-row {
        margin-bottom: 5px;
    }
}