.layout {
    display: grid;

    &--admin {
        
        grid-template-columns: 250px auto;
        grid-template-areas: 
            "sidebar" "content";
        min-height: 100vh;

        @media screen and (max-width: #{$break-small}) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            min-height: 0;
        }

        .student-dashboard-bg {
            background-color: #FBFBFB;
        }
    }

    &--student {
        grid-template-columns: 250px auto;
        grid-template-rows: 50px;
        grid-template-areas: 
            "sidebar header"
            "sidebar content";
        min-height: 100vh;

        @media screen and (max-width: #{$break-small}) {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            min-height: 0;
        }

        .student-dashboard-bg {
            background-color: #FBFBFB;
        }
    }

    &--1-col {
        grid-template-columns: auto;
        grid-row-gap: $admin-base-spacing;
    }


    &--2-col {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: $admin-base-spacing;
        grid-column-gap: $admin-base-spacing;

        @media screen and (max-width: #{$break-small}) {
            grid-template-columns: 1fr;
        }
    }

    &--3-col {
        grid-template-columns: auto auto 1fr;
        grid-column-gap: $admin-small-spacing;
        justify-content: start;

    }

    &--assignment-single {
        grid-template-columns: 2fr 1fr;
        grid-column-gap: $admin-base-spacing;
        grid-row-gap: $admin-base-spacing;
        grid-template-areas: 
        "assignments sidebar";
        align-items: start;
        
        &--assignments {
            grid-area: assignments;
        }

        &--sidebar {
            grid-area: sidebar;

            > div {
                margin-bottom: $admin-base-spacing;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        @media screen and (max-width: #{$break-small}) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "assignments" "sidebar";
        }
    }
}