// colors
$white: #fff;
$black: #000;
$red: #fe0000;
//$green: #4CAF50;
$blue: #00A3DA;
$purple: #812C7C;
$green: #009949;
$pink: #D8127D;
$dark-gray: #4C4C4C;
$medium-gray: #818181;
$light-gray: #DDDDDD;
$lightest-gray: #FBFBFB;

// fonts
$base-font: 'Metropolis';
$heading-font: $base-font;

// fonts size
$base-font-size: 16px;
$heading-font-size: 1.5rem;

// fonts colors
$base-font-color: $dark-gray;

// spacing
$admin-base-spacing: 30px;
$admin-small-spacing: 20px;