.question-selector-container {
    border: 1px blue solid;
    padding: 10px;
    margin-bottom: 5px;

    .select-box-type-question {
        margin-bottom: 5px;
        padding-top: 5px;
    }
    
    .delete-question-box-btn {
        margin-bottom: 10px;
    }
}